* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

ul>li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    background: url(content/img/bg2.jpg) no-repeat center/cover;
    height: 100vh;
    display: flex;
    overflow: hidden;
    padding: 23px;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
}

.tank {
    width: 100%;

    padding: 50px;
    opacity: 0;
    animation: opacity 2s forwards;
}

.container__action {

    color: azure;

}

.action__title {
    font-family: 'Lobster', cursive;

}

.action__text {
    font-family: 'Shantell Sans', cursive;
    animation: scale 2s forwards;
    transform: scale(0);
}

.fire__content {
    width: 100%;

    padding: 30px;
}

.container {
    flex: 1;
}

.fire {
    flex: 1;
}

.fire__content {
    animation: slidein 5s infinite alternate;
}

@keyframes slidein {
    from {
        width: 100%;
    }

    to {

        width: 150%;
    }
}

@keyframes opacity {
    100% {
        opacity: 1;
    }
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}